.reveal {
  font-size: 25px;
}

.reveal .slides {
  text-align: left;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
}

.reveal .author {
  text-transform: none;
  font-size: 1.5em;
  font-weight: normal;
}

.reveal .subtitle {
  font-size: 2em;
}

.reveal code {
  text-transform: none;
  font-weight: 400;
}

#fin h1,
#preguntas h1 {
  text-align: center;
}

.reveal figure {
  text-align: center;
}

.reveal figure:last-child {
  float: none;
  margin: 0;
  width: 100%;
}

.reveal figure,
.reveal figure + figure,
.reveal figure + figure:last-child {
  box-sizing: border-box;
  width: 48%;
  float: left;
}

.reveal figure + figure,
.reveal figure + figure:last-child {
  margin-left: 2%;
}
